.wizard-img{
    width: 69vw;
    max-height: 333px;
    object-fit: fill;
    border-radius: 9px;
    box-shadow: 9px 9px 6px rgba(148, 148, 148, 0.342);
}

.form-1, .form-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 73vh;
    width: 100vw;
}

.form-2 .wizard-input{
    height: 20vh;
}

.form-3 .wizard-input{
    height: 33vh;
}

.wizard-input{
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    width: 69vw;
}

.wizard-input input{
    width: 93%;
    border: none;
    box-shadow: 9px 9px 6px rgba(148, 148, 148, 0.342);
}

.Step1, .Step2{
    height: 94vh;
    width: 100vw;
    background: rgb(24, 24, 24);
    display: flex;
    align-items: center;
}

.wizard-button{
    background: black;
    color: whitesmoke;
    padding: 6px;
    width: 90px;
    border-radius: 9px;
    border: none;
    font-weight: bold;
    box-shadow: 9px 9px 6px rgba(148, 148, 148, 0.342);
}

.step1-form-buttons, .step2-form-buttons{
    display: flex;
    justify-content: space-between;
    width: 69vw;
}

.wizard-close{
    position: absolute;
    top: 66px;
    left: 44px;
    font-size: 33px;
    cursor: pointer;
}