* {
    margin: 0;
    padding: 0;
  }

.Recipin{
    /* background: rgb(34, 34, 34); */
    height: 96vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    overflow-y: auto;
}

.card-title{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 9px;
    background: rgba(0, 0, 0, 0.288);
    /* border-radius: 18px; */
    box-shadow: 0px -9px 9px rgba(36, 36, 36, 0.342);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.img {
    height: 100%;
    width: 100%;
    border-radius: 9px;
  }

.card{
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 48vw;
    height: 27vh;
    margin: 3px;
    background: grey;
    border-radius: 9px;
}

.hover-buttons{
    position: absolute;
    top: 9px;
    width: 93%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.share-save-view{
    /* background: rgba(255, 255, 255, 0.356); */
    background: none;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.699));
    /* color: whitesmoke; */
    /* padding: 3px; */
    border-radius: 50%;
    /* font-weight: bold;
    font-size: 14px; */
    border: none;
    box-shadow: -3px 9px 9px rgba(0, 0, 0, 0.712);
    visibility: visible;
    text-decoration: none;
}