* {
    margin: 0;
    padding: 0;
  }

  .Header{
      background: rgba(29, 29, 29, 0.781);
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 9px;
      color: rgb(243, 243, 243);
  }

.Header input{
    width: 69%;
    border: none; 
}

.icon{
    padding-top: 6px;
}

.header-filter-buttons{
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 1;
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* display: none; */
}

.header-filter-buttons .switch{
    width: 60vw;
}

.header-filter-buttons input:checked + .slider:before {
    -webkit-transform: translateX(182px);
    -ms-transform: translateX(182px);
    transform: translateX(182px);
  }