* {
  margin: 0;
  padding: 0;
}

.Dashboard {
  background: rgb(34, 34, 34);
  height: 96vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  overflow-y: auto;
}

.img {
  background: blue;
  height: 160px;
  width: 160px;
  margin: 10px;
  border-radius: 9px;
}

/* .hover-div {
  width: 90%;
  height: 90px;
  position: absolute;
  top: 33px;
  background: rgba(0, 0, 0, 0.589);
  display: flex;
  justify-content: space-around;
} */

.card-button {
  background: rgb(146, 42, 42);
  width: 66px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: rgb(228, 228, 228);
  font-weight: bold;
  font-size: 18px;
  display: flex;
  display: none;
}

.hover-div:hover {
  background: green;
}

/* .div{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 40px;
  background: white;
} */