* {
  margin: 0;
  padding: 0;
}

.Dashboard {
  background: rgb(34, 34, 34);
  height: 94vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  overflow-y: auto;
}

.card-button {
  background: rgb(146, 42, 42);
  width: 66px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: rgb(228, 228, 228);
  font-weight: bold;
  font-size: 18px;
  display: flex;
  display: none;
}

.hover-div:hover {
  background: green;
}

/* .div{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 40px;
  background: white;
} */